/*
Magee Milestone3 Styling
*/

body {
    background-color: light-blue;
}

.user_buttons {
    margin-top: 3px;
    margin-right: 2px;
}

.bump_left_8 {
    margin-left: 8px;
}
.bump_right_8 {
    margin-right: 8px;
}

.bump_top_4 {
    margin-top: 4px;
}