/*
Magee Milestone3 Styling
*/

.user_buttons {
    margin-top: 3px;
    margin-right: 2px;
}

/* Minor adjustment to buttons fields that needed it 
    for alignment or seperation */
.bump_left_8 {
    margin-left: 8px;
}
.bump_right_8 {
    margin-right: 8px;
}

.bump_top_4 {
    margin-top: 4px;
}