{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">View Project Details</h3>
<h5 class="light-blue-text text-darken-4 center-align">Read-only view</h5>

<div class="row card-panel grey lighten-5">
    <table class="striped ">
        <thead>
            <tr>
                <th>Field</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>Project Name</td>
                <td>{{project.project_name}}</td>
            </tr>

            <tr>
                <td>Description</td>
                <td>{{project.project_description}}</td>
            </tr>

            <tr>
                <td>Category</td>
                <td>{{project.project_category_name}}</td>
            </tr>

            <tr>
                <td>Date Created</td>
                <td>{{project.project_date_created}}</td>
            </tr>

            <tr>
                <td>Created by</td>
                <td>{{project.project_created_by}}</td>
            </tr>

            <tr>
                <td>Due Date</td>
                <td>{{project.project_due_date}}</td>
            </tr>

            <tr>
                <td>Estimated time</td>
                <td>{{project.project_hour_estimate}}</td>
            </tr>

            <tr>
                <td>Status</td>
                <td>{{project.project_status}}</td>
            </tr>

            <tr>
                <td>Priority</td>
                <td>{{project.project_priority}}</td>
            </tr>

            <tr>
                <td>Points</td>
                <td>{{project.project_points}}</td>
            </tr>

            <tr>
                <td>Urgent?</td>
                <td>{{project.project_is_urgent}}</td>
            </tr>

            <tr>
                <td>Date started</td>
                <td>{{project.project_date_opened}}</td>
            </tr>

            <tr>
                <td>Started by</td>
                <td>{{project.project_opened_by}}</td>
            </tr>

            <tr>
                <td>Date completed</td>
                <td>{{project.project_date_closed}}</td>
            </tr>

            <tr>
                <td>Completed by</td>
                <td>{{project.project_closed_by}}</td>
            </tr>

        </tbody>
    </table>

</div>


{% endblock %}