{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Edit Project</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('project_edit', project_id=project._id  )}} ">
        <!--    Category name    -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                <select id="project_category_name" name="project_category_name"  class="validate" required>
                    <option value="" disabled selected>Choose Category</option>
                    {% for category in categories %}
                    <!-- Indicate selected when the category name in the collection
                         matches the task's category name. Cool, thanks Code institute for sharing
                         This is used for Category, points & priority
                    -->
                    {% if category.category_name == project.project_category_name %}
                    <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                    {% else %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label>Project Category</label>
            </div>
        </div>
        <!--    Project Name    -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="project_name" name="project_name" minlength="5" maxlength="50" type="text" class="validate"
                    value="{{ project.project_name }}" required>
                <label for="project_name">Project Name</label>
            </div>
        </div>
        <!--    Project Description   -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                <textarea id="project_description" name="project_description" minlength="5" maxlength="200"
                    class="materialize-textarea" required>{{ project.project_name }}</textarea>
                <label for="project_description">Project Description</label>
            </div>
        </div>
        <!--    Due Date Selection  -->
        <div class="row">
            <div class="input-field col s12" method="POST" action="">
                <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                <input id="project_due_date" name="project_due_date" type="text" class="validate datepicker"
                    value="{{ project.project_due_date }}" required>
                <label for="project_due_date">Due Date</label>
            </div>
        </div>

        <!--    priority assigned    -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-thermometer-half prefix light-blue-text text-darken-4"></i>
                <select id="project_priority" name="project_priority" class="validate" required>
                    <option value="" disabled selected>Select Priority</option>
                    {% for priority in priorities %}
                        {% if priority == project.project_priority %}
                            <option value="{{ priority }}" selected>{{ priority }}</option>
                        {% else %}
                        <option value="{{ priority }}">{{ priority }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label>Priority</label>
            </div>
        </div>

        <!--    Points assigned    -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-trophy prefix light-blue-text text-darken-4"></i>
                <select id="project_points" name="project_points" class="validate" required>
                    <option value="" disabled selected>Select Points</option>
                    {% for point_award in points %}
                        {% if point_award == project.project_points %}
                            <option value="{{ point_award}}" selected>{{ point_award }}</option>
                        {% else %}
                            <option value="{{ point_award }}">{{ point_award }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label>Points Awarded</label>
            </div>
        </div>

        <!--    hours required   -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-clock-o prefix light-blue-text text-darken-4"></i>
                <select id="project_hour_estimate" name="project_hour_estimate" class="validate" required>
                    <option value="" disabled selected>Estimated hours</option>
                    {% for hour_estimate in hours %}
                        {% if hour_estimate == project.project_hour_estimate %}
                            <option value="{{ hour_estimate }}" selected>{{ hour_estimate }}</option>
                        {% else %}
                            <option value="{{ hour_estimate }}">{{ hour_estimate }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label>Estimated Hours</label>
            </div>
        </div>

            <!--    Is Urgent -->
            <div class="row">
                <div class="input-field col s12">
                    <!-- Switch -->
                    <div class="switch">
                        <i class="fas fa-exclamation-circle prefix light-blue-text text-darken-4"></i>
                        <label for="project_is_urgent">
                            {% if project.project_is_urgent == "on" %}
                                <input type="checkbox" id="project_is_urgent" name="project_is_urgent" checked>
                            {% else %}
                                <input type="checkbox" id="project_is_urgent" name="project_is_urgent" >
                            {% endif %}
                            <span class="lever"></span>
                            Is Urgent
                        </label>
                    </div>
                </div>
            </div>

        <!--    Submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1 text-shadow waves-effect waves-light">
                    Update Project <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>


{% endblock %}