{% extends "base.html" %}
{% block content %}


<h3 class="light-blue-text text-darken-4 center-align">Select and Manage Users</h3>
<p>   Admins can manage users.  Non-Admins can select the user that they are. </p>

<div class="row">
    <div class="col s12 center-align">
        {% if session.ACTIVE_ADMIN %}
        <a href="{{ url_for('user_add') }}" class="btn-large light-blue darken-2 text-shadow">
            Add User <i class="fas fa-plus-square right"></i>
        </a>
        {% endif %}
    </div>
</div>

<div class="row">
    {% for user in users %}
        <div class="col s12 m3">
            <div class="card light-blue darken-4 text-shadow center-align">
                <div class="card-content white-text">
                    <span class="card-title">{{ user.user_name }}</span>
                    <span class="card-title">Points: {{ user.user_points }}</span>
                    <p>{{ user.user_notes }}</p>
                </div>
                <div class="card-action">
                    <a href="{{ url_for('user_set', user_name=user.user_name) }}" class="btn-small green accent-4 user_buttons">Select</a>
                    {% if session.ACTIVE_ADMIN %}
                    <a href="{{ url_for('user_edit', user_id=user._id) }}" class="btn-small light-blue lighten-1 user_buttons">Edit</a>
                    <a href="{{ url_for('user_delete', user_id=user._id) }}" class="btn-small red darken-1 user_buttons">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>



{% endblock %}