{% extends "base.html" %}
{% block content %}


<h3 class="light-blue-text text-darken-4 center-align">Select User</h3>
<p>   MIKE Describe and style information about what selecting a user does and why it must be done before continuing</p>

<div class="row">
    {% for user in users %}
        <div class="col s12 m3">
            <div class="card light-blue darken-4 text-shadow center-align">
                <div class="card-content white-text">
                    <span class="card-title">{{ user.user_name }}</span>
                </div>
                <div class="card-action">
                    <a href="{{ url_for('user_set', user_name=user.user_name) }}" class="btn green accent-4">Select</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>



{% endblock %}