{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Edit User</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('user_edit', user_id=user._id) }}">
        <!-- User name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                <input id="user_name" name="user_name" minlength="3" maxlength="25" type="text" class="validate"
                    value="{{ user.user_name }}" required>
                <label for="user_name">User Name</label>
            </div>
        </div>
        <!--    User Notes    -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                <textarea id="user_notes" name="user_notes" minlength="1" maxlength="100" class="materialize-textarea"
                    required>{{ user.user_notes }}</textarea>
                <label for="user_notes">User Notes</label>
            </div>
        </div>


        <!--    Is Admin  Only an Admin can make an admin -->
        {% if session.ACTIVE_ADMIN %}
        <div class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="fas fa-bolt prefix red-text"></i>
                    <label for="user_admin">
                        {% if user.user_admin == True %}
                        <input type="checkbox" id="user_admin" name="user_admin" checked>
                        {% else %}
                        <input type="checkbox" id="user_admin" name="user_admin">
                        {% endif %}
                        <span class="lever"></span>
                        Admin Authority
                    </label>
                </div>
            </div>
        </div>
        {% endif %}


        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                    Update User <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}